body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
  .big-heading {
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
  }
  
  .section-heading {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
  }
  
  .container-fluid {
    padding: 7% 15%;
  }
  
  /* Sections */
  .colored-section {
    background-color: black;
    color: white;
  }
  
  .white-section {
    background-color: #fff;
  }
  
  /* Navigation Bar */
  
  /* .navbar {
    padding: 0 0 4.5rem 0;
  } */
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
  }
  
  /* INTRO stuff */
  .intro{
      font-size: 1.3rem;
      font-family: "Montserrat";
      font-weight: 500;
      text-align: left;
      color: #fff;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
  }
  
  .title-img {
    width: 100%;
    position: static;
    right: 30%;
  }
  
  /* Footer */
  
  .contact-icon {
    margin: 20px 10px;
  }
  
  #contributer_link {
    text-decoration: none;
  }
  /* NEW CSS */

  .row{
    padding: 6% 0 0 0;
  }
  .table{
    font-family: 'Montserrat';
    font-weight: 500;
  }
  .gunnery-img {
    width: 90%;
  }
  .gunnery-car{
    padding-top: 0;
    padding-bottom: 5%;
  }
  .button-color {
    color : black;
  }

  .align-text-right {
    text-align: right;
  }

  .icon-h2 {
    margin: 0 auto 0;
    font-weight: 600;
  }

  #different-views{
    text-align: center;
  }
  
  .image-size {
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 1020px) {
    .title-img {
      position: static;
      transform: rotate(0);
    }
    #title {
      text-align: center;
    }
    .big-heading{
      text-align: center;
      font-size: 3rem;
    }
    .icon-h2{
      font-size: 1.5rem;
      text-align: center;
    }
  }